<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>网站管理系统</title>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta name="keywords" content="web开发网站" />
    <meta name="description" content="web网站后台" />

    <style type="text/css">
    html,html body
    {
        font-family:宋体;
        font-size:13px;
    }
    h2
    {
        font-family: "Trebuchet MS",Arial,sans-serif;
    }
    p
    {
        line-height:22px;
    }
    </style>
</head>
<body>
    <h2>网站后台框架 1.0版本 </h2>
    <p>有问题请向研发团队反馈问题!</p>
    <br />
    
    

</body>
</html>
