@{
    Layout = null;
}

<footer class="footer">
    <div class="s_nav">
        <ul>
            <li><a href="#">在线留言</a>|</li>
            <li><a href="#">联系我们</a>|</li>
            <li><a href="#">关于我们</a>|</li>
            <li><a href="#">企业信息</a>|</li>
            <li><a href="#">招商合作</a></li>
        </ul>
    </div>
    <div class="foot">
        <p>
            <span>@DateTime.Now.Year  © All RIGHTS RESERVED. [版权所有] Roger</span>
        </p>
        <p>
            <span>制作与维护：Roger</span><span>我的博客:http://www.cnblogs.com/mysweet/</span>
        </p>
    </div>
</footer>
