@{
    ViewBag.Title = "账户激活";
}

@section css{
    <link href="~/Content/gr.css" rel="stylesheet" />
}


<form id="form1">
    <div class="zz">
        <div class="xgmm">
            <div class="xgmm_tt">
                <h3>邮箱验证</h3>
            </div>
            <p class="xgmm_tip">邮箱验证状态:<label id="lbStatus"></label></p>
            <ul class="xgmm_ul">
                <li class="xgmm_ul_li1">
                    <label id="lbInfo"></label>
                </li>
            </ul>
        </div>
    </div>
</form>


@section scripts{
    <script src="~/Scripts/Roger/queryUrlParams.js" type="text/javascript"></script>

    <script src="~/Scripts/AjaxJs/MemberZoneInfo.js" type="text/javascript"></script>
    <script type="text/javascript">
        //从url中获取用户名和密码
        var UserName = $.query.get("UserName");
        var VCode = $.query.get("YZM");
        var Data = { "UserName": UserName, "VCode": VCode };
        $(function () {
            //邮箱验证
            EmailChecking();
        });

    </script>
}
