@{
    ViewBag.Title = "会员信息";
}

@section css{
    <link href="../Admin/css/validationEngine.jquery.css" rel="stylesheet" />
    <link href="~/Content/gr.css" rel="stylesheet" />
}

<div class="left_side">
    <div class="logo_bottom">
    </div>
    <div class="gr">
        <div class="gr_title">
            <h4>个人信息管理</h4>
        </div>
        <ul class="gr_ul">
            <li><a href='javascript:ShowMemberInfo()'>修改个人信息</a></li>
            <li><a href='javascript:ShowGetPwd()'>找回密码</a></li>
            <li><a href='javascript:ShowChangePwd()'>修改密码</a></li>
            <li><a href='<%=URLManage.GetURL("~/Member/Collection","")%>'>我的收藏夹</a></li>
            <li><a href='<%=URLManage.GetURL("~/Member/ShopingCart","")%>'>我的购物车</a></li>
            <li><a href='<%=URLManage.GetURL("~/Member/OrderManage","")%>'>订单管理</a></li>
            <li><a href='<%=URLManage.GetURL("~/Member/ComfirmGetGoods","")%>'>收货管理</a></li>
            <li><a href='<%=URLManage.GetURL("~/Member/ProductComment","")%>'>产品评价</a></li>


        </ul>
    </div>
</div>
<div>
    <div id="MemberInfo">
        <form id="form1">
            <div class="zz">
                <div class="xgmm">
                    <div class="xgmm_tt">
                        <h3>个人信息设置</h3>
                    </div>
                    <p class="xgmm_tip">
                        温馨提示您：内容填写完后请仔细核对。
                    </p>
                    <h4 class="grxx_h4">会员信息</h4>
                    <ul class="xgmm_ul grxx_ul1">
                        <li><span>用户名：</span><span><input type="text" id="txtUserName" name="txtUserName"
                            disabled="disabled" /></span></li>
                        <li class="zhmm_radio"><span>性别：</span><input type="radio" id="Man" checked="checked" name="sex" />男<input
                            type="radio" name="sex" id="Woman" />女</li>
                        <li><span>民族：</span><select id="selNational"></select></li>
                        <li><span>QQ：</span><input type="text" id="txtQQ" name="txtQQ" class="xgmm_text validate[required,custom[QQ]] text-input" /></li>
                        <li><span>E-mail：</span><input type="text" id="txtEmail" name="txtEmail" class="xgmm_text validate[required,custom[email]] text-input" disabled="disabled" />
                            (已绑定 @*<a id="aChangeEmail" href="#" onclick="ChangeEmail()">更改</a>*@) </li>
                    </ul>
                    <h4 class="grxx_h4">地址设置</h4>
                    <ul class="xgmm_ul grxx_ul1">
                        <li><span>所在地区：</span>
                            <select id="selProvince" name="selProvince" class="validate[required]" style="width: 100px">
                            </select>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="selCity" name="selCity" class="validate[required]" style="width: 100px">
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <select id="selCountry" name="selCountry" class="validate[required]" style="width: 100px">
                    </select>
                        </li>
                        <li><span>街道地址：</span><input type="text" id="txtHomeBase" name="txtHomeBase" class="grxx_text1" />
                            (不需要重复填写省市地区)</li>
                        <li><span>邮编：</span><input type="text" id="txtZipCode" name="txtZipCode" class="grxx_text2 validate[required,custom[Zipcode]] text-input" /></li>
                        <li><span>手机号码：</span><input type="text" id="txtMobilePhone" name="txtMobilePhone"
                            class="xgmm_text validate[required,custom[Mobile]] text-input" /></li>
                        <li><span>电话号码：</span><input type="text"
                            id="txtTelPhone" name="txtTelPhone" class="xgmm_text validate[required,custom[phone]] text-input" />
                            (格式：区号-电话号码)</li>
                        <li class="xgmm_bt">
                            <input type="button" id="btnUpdate" class="xgmm_bt1" onclick="Comit()" />@*<input type="reset" value="" class="xgmm_bt2" />*@</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    @*修改个人信息 页面*@

    <div id="ForgetSercret">
        <div class="zz">
            <div class="xgmm">
                <div class="xgmm_tt">
                    <h3>找回密码</h3>
                </div>
                <p class="xgmm_tip">请记住:找回密码功能可以根据您的用户名和最初注册的邮箱将重置密码发送到您的邮箱!然后您尽快修改自己的密码!</p>
                <ul class="xgmm_ul">
                    <li class="xgmm_ul_li1"><span>用户名：</span><input type="text" class="xgmm_text" id="txtUserNameFS" /></li>
                    <li class="xgmm_ul_li1"><span>邮箱：</span><input type="text" class="xgmm_text" id="txtEmailFS" /></li>
                    @*<li class="zhmm_yz"><span>验证码：</span><input type="text" id="txtCheckCode" /><img src="../Admin/FileManage/VerifyChars.ashx" onclick="changeImg()" id="img" alt="验证码" /></li>*@
                    <li>
                        <input type="button" class="xgmm_bt3" id="btnSend" /></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="ChangeSercret">
        <form id="changeSecretForm">
            <div class="zz">
                <div class="xgmm">
                    <div class="xgmm_tt">
                        <h3>修改密码</h3>
                    </div>
                    <p class="xgmm_tip">密码由6-15个字符组成，为了您账号的安全，禁止使用全数字或连续字符作为密码。</p>
                    <ul class="xgmm_ul">
                        <li class="xgmm_ul_li1"><span>当前密码：</span><input type="text" class="xgmm_text validate[required,custom[LoginPwd]]" name="txtOldPwd" id="txtOldPwd" />
                        </li>
                        <li><span>新密码：</span><input type="text" class="xgmm_text validate[required,custom[LoginPwd]]" id="txtNewPwd" /></li>
                        <li><span>确认密码：</span><input type="text" class="xgmm_text validate[required,equals[txtNewPwd]]" id="txtConfirmPwd" /></li>
                        <li class="xgmm_bt">
                            <input type="button" class="xgmm_bt1" id="btnChangeSecret" /><input type="reset" value="" class="xgmm_bt2" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div id="Collection">
    </div>
    <div id="ShopingCart">
    </div>
    <div id="OrderManage">
    </div>
    <div id="ComfirmGetGoods">
    </div>
    <div id="ProductComment">
    </div>
</div>


@section scripts{
    @*左侧功能导航方法*@
    <script>
        function ShowMemberInfo() {
            //第一次进页面显示个人信息，其他的都隐藏
            $("#MemberInfo").show().siblings().hide();
        }

        function ShowGetPwd() {
            $("#ForgetSercret").show().siblings().hide();
        }

        function ShowChangePwd() {
            $("#ChangeSercret").show().siblings().hide();
        }


    </script>

    @*MemberInfo个人信息主页面*@
    <script src="~/Scripts/Roger/jquery.validationEngine.js" type="text/javascript"></script>
    <script src="~/Scripts/languages/jquery.validationEngine-zh_CN.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxJs/MemberInfo.js" type="text/javascript"></script>
    <script type="text/javascript">
        //初始化函数均在MemberInfo.js中定义
        $(function () {
            //第一次进页面显示个人信息，其他的都隐藏
            ShowMemberInfo()

            //BUG_1
            $("#liLogin").hide();
            $("#liLogout").show();
            $("#lbUserNameInfo").text('@Session["UserName"]' + "的");



            $("#form1").validationEngine();
            //省市数据初始化
            GetProvince();
            //获取民族信息
            GetNation();
            //绑定事件  
            $("#selProvince").change(function () {
                GetCity();
            });
            $("#selCity").change(function () {
                GetCountry();
            });
            GetUserInfo();
        });
    </script>

    @*ForgetSercret找回密码部分用到*@
    <script src="~/Scripts/AjaxJs/MemberZoneInfo.js" type="text/javascript"></script>
    <script type="text/javascript">
        @*function changeImg() {
            $("#img").attr("src", "../Admin/FileManage/VerifyChars.ashx?date=" + @new Date());
        }*@


        $(function () {
            $("#btnSend").click(function () {
                ForgetSercret();
            });
        });
    </script>

    @*ChangeSecret修改密码部分*@
    <script type="text/javascript">
        $(function () {
            $("#changeSecretForm").validationEngine();
            $("#btnChangeSecret").click(function () {
                //如果验证不通过,就不提交
                if (!$("#changeSecretForm").validationEngine('validate'))
                    return;
                //修改密码 在MemberZoneInfo.js中定义
                ChangeSercret();
            });
        });
    </script>

}